@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/hind-siliguri';
/* @import '~antd/dist/antd.css'; */

@layer base {
  h1 {
    font-size: 34px; /* Example: Adjust as needed */
  }

  h2 {
    font-size: 30px; /* Example: Adjust as needed */
  }

  h3 {
    font-size: 24px; /* Example: Adjust as needed */
  }

  h4 {
    font-size: 20px; /* Example: Adjust as needed */
  }

  h5 {
    font-size: 18px; /* Example: Adjust as needed */
  }

  h6 {
    font-size: 16px; /* Example: Adjust as needed */
  }
}

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Helvetica', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
}

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 20;
}
@media screen and (max-width: 800px) {
  .sidebar {
    z-index: 30;
  }
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 35 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

ol,
ul {
  list-style-type: disc;
  list-style-position: inside;
}

#preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border: none;
}

.ant-tooltip-inner {
  font-size: 11px;
  min-height: 24px !important;
  padding: 4px 10px !important;
}

.ant-tooltip-placement-top {
  padding-bottom: 6px;
}

.ant-breadcrumb > ol {
  align-items: center;
}

.ant-collapse-header {
  align-items: center !important;
}

.ant-collapse-content {
  background-color: inherit !important;
}

a {
  color: #777;
}

a:hover {
  color: rgb(100, 100, 100);
}

a:visited {
  color: rgb(100, 100, 100);
}

.Collapsible {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
}

.Collapsible__trigger {
  display: block;
  width: 100%;
}

.ant-collapse
  > .ant-collapse-item
  .ant-collapse-header-collapsible-only
  .ant-collapse-header-text {
  flex: content !important;
}

.Collapsible__contentInner {
  padding: 15px;
}

.react-select__control,
.react-select__value-container,
.react-select__menu {
  padding: 5px 10px;
}

.swiper-button-prev,
.swiper-button-next {
  border-radius: 50%;
  color: rgba(50, 50, 50, 0.301) !important;
  font-weight: 400;
  outline: 0;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  font-weight: 700;
  color: rgb(49, 49, 49) !important;
}

@media (max-width: 550px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

.slick-slide > div:first-child {
  display: flex;
  justify-content: center;
}

.sticky_position {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4caf50;
}

:root {
  --cards: 4;
  --cardHeight: 57vh;
  --cardTopPadding: 2.5em;
  --cardMargin: 4vw;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#cards {
  position: relative;
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: calc(var(--cards) * var(--cardTopPadding));
  margin-bottom: var(--cardMargin);
}

#card1 {
  --index: 1;
}
#card2 {
  --index: 2;
}
#card3 {
  --index: 3;
}
#card4 {
  --index: 4;
}

.card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--cardTopPadding));
}

.card-body {
  box-sizing: border-box;
  padding: 0 0 0 30px;
  border-radius: 50px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  height: var(--cardHeight);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  transition: all 0.5s;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -12px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 12px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  margin-bottom: 10px;
}
