@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/hind-siliguri';
@import '~antd/dist/antd.css';

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
}

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 20;
}
@media screen and (max-width: 800px) {
  .sidebar {
    z-index: 30;
  }
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 35 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

#preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border: none;
}

.ant-tooltip-inner {
  font-size: 11px;
  min-height: 24px !important;
  padding: 4px 10px !important;
}

.ant-tooltip-placement-top {
  padding-bottom: 6px;
}

a {
  color: #777;
}

a:hover {
  color: rgb(100, 100, 100);
}

a:visited {
  color: rgb(100, 100, 100);
}

.Collapsible {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
}

.Collapsible__trigger {
  display: block;
  width: 100%;
}

.ant-collapse
  > .ant-collapse-item
  .ant-collapse-header-collapsible-only
  .ant-collapse-header-text {
  flex: content !important;
}

.Collapsible__contentInner {
  padding: 15px;
}

.react-select__control,
.react-select__value-container,
.react-select__menu {
  padding: 5px 10px;
}

.swiper-button-prev,
.swiper-button-next {
  border-radius: 50%;
  color: rgba(50, 50, 50, 0.301) !important;
  font-weight: 400;
  outline: 0;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  font-weight: 700;
  color: rgb(49, 49, 49) !important;
}

@media (max-width: 550px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}
